
body {
    word-wrap: break-word;
    align: center; 
}

.emergencystop {
    width: 10%;
}

.drinktable {
    width: 100%;
}

.drinkitem {
    text-align: center;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}
.drink {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.lock {
    position: absolute;
    top: 35%;
    left: 35%;
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto;
}
